body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  overflow: hidden;
}
.diamond {
  width: 160px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span:nth-child(1) {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #999;
  transform: skew(-30deg);
  z-index: 2;
}
span:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 60px;
  width: 0;
  height: 0;
  border-width: 108px 0px 12px 50px;
  border-style: solid;
  border-color: #616161 transparent transparent transparent;
  transform: skew(45deg);
}
span:nth-child(2) {
  position: absolute;
  display: block;
  top: 0;
  left: 35px;
  width: 90px;
  height: 50px;
  background: #666;
}
span:nth-child(2)::before {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: -10px;
  width: 0;
  height: 0;
  /* border-style: solid;
    border-width: 108px 50px 110px 0px;
    border-color: #222 transparent transparent transparent;
    transform: skewX(-45deg); */
  border-top: 108px solid #333;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}

span:nth-child(3) {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #444;
  transform: skew(30deg);
  z-index: 2;
}
span:nth-child(3)::before {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  left: -108px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 108px 50px 110px 0px;
  border-color: #222 transparent transparent transparent;
  transform: skewX(-45deg);
}
span:nth-child(4) {
  position: absolute;
  top: -5px;
  left: 15px;
  background-color: #888;
  border-radius: 50%;
  width: 130px;
  height: 10px;
  z-index: 4;
}
